td {
    height: 40px;
    width: 40px;
    padding: 0;
}

tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
    background-color: black;
}

.figure {
    width: 100%;
    height: 100%;
}

.selected {
    background-color: yellow;
}

.figure {
    font-size: xx-large;
    text-align: center;
}

.figure a {
    text-decoration: none;
}

.figure.white,
.figure.white a {
    color: green;
}

.figure.black,
.figure.black a {
    color: red;
}

.can_move {
    cursor: pointer;
}

div.legal {
    background-color: lightgreen;
    cursor: pointer;
}

div.cell,
div.cell a {
    display: block;
    width: 100%;
    height: 100%;
}
