<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/css/chess.css"/>
</head>
<body>

    <table>
        <tbody>
            {% for i in rows %}
                <tr>
                {% for j in cols %}
                    <td>
                        {% if board[i][j] %}
                            <div class="figure {{ 'selected' if '{}{}'.format(i, j) == start else '' }}">
                                <a href={{ "/board/{}/{}/{}{}".format(id, start, i, j) if start else "/board/{}/{}{}".format(id, i, j)}}>
                                    {{ board[i][j].text }}
                                </a>
                            </div>
                        {% else %}
                            <a class="cell" href={{ "/board/{}/{}/{}{}".format(id, start, i, j) if start else "/board/{}/{}{}".format(id, i, j)}}></a>
                        {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>