<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/css/chess.css"/>
</head>
<body>

    <table>
        <tbody>
            {% for i in rows %}
                <tr>
                {% for j in cols %}
                    <td>
                        {% if board[i][j] %}
                            <div class="figure {{ board[i][j].color }} {{ 'selected' if '{}{}'.format("abcdefgh"[j], 8 - i) == start else '' }} {{ "legal" if start and '{}{}'.format("abcdefgh"[j], 8 - i) in moves else "" }}">
                                {% if '{}{}'.format("abcdefgh"[j], 8 - i) in moves %}
                                    <a href={{ "/board/{}/{}/{}{}".format(id, start, "abcdefgh"[j], 8 - i) if start else "/board/{}/{}{}".format(id, "abcdefgh"[j], 8 - i)}}>
                                        {{ board[i][j].text }}
                                    </a>
                                {% else %}
                                    {{ board[i][j].text }}
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="cell {{ "legal" if start and '{}{}'.format("abcdefgh"[j], 8 - i) in moves else "" }}">
                                {% if '{}{}'.format("abcdefgh"[j], 8 - i) in moves %}
                                    <a href={{ "/board/{}/{}/{}{}".format(id, start, "abcdefgh"[j], 8 - i) if start else "/board/{}/{}{}".format(id, "abcdefgh"[j], 8 - i)}}></a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>